@model IEnumerable<AspNet5Mvc_YuGiOh.Models.DataDtos>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.atk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.def)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.race)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.attribute)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.atk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.def)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.race)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.attribute)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
