@model IEnumerable<AspNet5Mvc_YuGiOh.Models.DataDtos>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Filtrar Cartas
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body"> 
            <div class="row">
                <div class="col-md-5">

                        <label>Selecione Tipo</label>
                        <div class="d-block">
                            <select class="form-control" name="tipos" id="tipos">
                                <option value="1">Monster Normal</option>
                                <option value="2">Monster effeitos</option>
                                <option value="3">Carta magica</option>
                                <option value="4">Carta armadilha</option>
                            </select>
                        </div>
   
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-success btn-destaque"><i class="bx bx-search"></i><span class="align-middle"> Buscar</span></button>
                </div>
            </div>
        </div>
    </div>
  <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.atk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.def)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.race)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.attribute)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.atk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.def)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.race)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.attribute)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
